body
{
    background-color: rgb(255, 250, 227);
  }
  

body 
{font-family: 'Roboto', sans-serif;}
.container

body
.Ingredienten{
    margin: 0 auto;
    width: 40%;
}

    
    h1 {
        border-bottom-style: solid;
      }

      h1 {
        text-indent: 10px;
        font-size: 36px;
        line-height: 36px;
          
      }
     
     